<ngx-ui-loader></ngx-ui-loader>
<div class="container col-xs-12 col-md-12 flex-container">
    <!-- Welcome screen -->
    <div class="welcome-screen">
      <app-welcome></app-welcome>
    </div>
    <!-- Forgot screen -->
  <div class="auth-container forgot-screen">
      <div class="outer-container">
        <div class="forgot-form form">
          <h2>Forgot your password?</h2>
          <form>
            <div class="form-group">
              <input class="form-control" type="email" name="email" placeholder="Email" [(ngModel)]="email">
              <div *ngIf="email == ''" class="alert alert-danger mt-1">
                <span class="error-message">Email is required!!!</span>
              </div>
            </div>
            <div class="form-group submit-btn-group">
              <button class="btn main-btn" type="button" name="forgot-btn" (click)="onFormSubmit()">Recover Password</button>
            </div>
            <div class="additional-links">
              <a [routerLink]="['/login']" alt="Sign In">Go Back</a>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>